.modalBckg {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
}
.modalContainer {
  box-shadow: 1px 1px 5px 4px lightblue;
  max-width: 38rem;
  background-color: #ffffff;
  border-radius: 0.484rem;
  height: 42rem;
  position: relative;
  top: 8rem;
  margin: 0 auto;
  box-sizing: border-box;
}
.btnCloseSec {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.closeButton {
  background: var(--secondary-blue);
  border: none;
  color: #ffffff;
  width: 2.125rem;
  height: 2.125rem;
  margin-right: 15px;
}
.closeButton:hover {
  background-color: var(--primary-blue) !important;
  color: #f2f1f6 !important;
}
.symtMainTextSec {
  width: 100%;
  height: 3.5rem;
  margin-top: 0.1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.mainText1 {
  font-family: var(--ff-primary);
  font-size: 1.8rem;
  font-weight: var(--fw-700);
  line-height: 2.75;
  letter-spacing: -0.02em;
  color: var(--primary-blue);
}
.audioContainer {
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.symtExplainSec {
  box-sizing: border-box;
  width: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 3.688rem;
  top: 5.625;
  background: #ffffff;
  border: 0.058rem solid #000000;
  box-shadow: 0px 0.231rem 0.231rem rgba(0, 0, 0, 0.25);
  border-radius: 3.469rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.speakerImg {
  width: 2rem;
  height: 2rem;
  margin-left: 0.6rem;
  border-radius: 1rem;
  justify-content: flex-start;
}
.speakerImg:hover {
  box-shadow: 1px 1px 5px 4px skyblue;
}
.mainText2 {
  font-family: var(--ff-primary);
  font-size: 0.8rem;
  font-weight: var(--fw-400);
  line-height: 1.25rem;
  letter-spacing: -0.01em;
  text-align: left;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0;

  color: #1d1d1b;
}

.textSevere {
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: var(--fw-400);
  font-size: 0.688rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
  margin-bottom: 1.5rem;
  margin-top: -2rem;
  width: 150px;
  margin-left: 5.2rem;

  color: #000000;
}

.imgPainSec {
  display: flex;
  width: 100%;
  height: 20rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.imageStymp {
  width: 11rem;
  height: 20rem;
}
.imgContainer {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.slider {
  width: 2rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 2.6rem;
}
.vranger {
  position: relative;
}

.emojiContainer {
  width: 3rem;
  height: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.emojis {
  height: 2rem;
  width: 2rem;
}

.valueContainer {
  height: 3.6rem;
  display: flex;
  align-items: center;
}
.noneTextSec {
  height: 1.25rem;
  width: 2.25rem;
  display: flex;
  align-items: center;
  margin-left: 22.2rem;
  margin-top: 0.5rem;
}
.noneText {
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: var(--fw-400);
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #000000;
  margin-top: 2rem;
}
.footerBtns {
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 4rem;
}
.okBtn {
  border: none;
  width: 18rem;
  margin-top: 0.6rem;
  height: 2.2rem;
  margin-bottom: 2rem;
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: var(--fw-400);
  font-size: 1.026rem;
  line-height: 1.313rem;
  letter-spacing: 0.019rem;
  color: #ffffff;
  background: var(--secondary-blue);
}
.okBtn:hover {
  background-color: var(--primary-blue) !important;
  color: #f2f1f6 !important;
}
